body {
	background-image: url('images/intro_view-bg.png');
	color: #999;
	font: 12px/17px "Lucida Grande", "Tahoma", "Arial", sans-serif;
}

h1 {
	text-align: center;
}

/** Login ***/

#login {
	text-align: center;
	width: 300px;
	padding: 10px;
	position: relative;
	margin: auto auto;
}

#login div {
	margin-bottom: 10px;
}

#login label {
	display: block;
	width: 25%;
	float: left;
	text-align: right;
}

#login .submit {
	
}

#password.wrong {
	border: 1px solid #F00;
}

.sp-button {
-webkit-border-image: url("images/info_group-button.png") 0 7 42 7;
background: initial;
border: initial;
border-width: 0 7px;
box-sizing: border-box;
color: #333;
cursor: default;
display: inline-block;
font-size: 12px;
line-height: 17px;
margin: 0;
max-width: 100%;
overflow: hidden;
padding: 2px;
text-decoration: none;
text-overflow: ellipsis;
text-shadow: 0 1px 0 #EEE;
white-space: nowrap;
}

.sp-button:active {
	-webkit-border-image: url("images/info_group-button.png") 21 11 21 11;
}

.list:nth-child(odd) {
	background-color: #333;
}

/************/

/** SpotifysList **/
#spotifysList {
	margin: auto auto;
	padding: 0;
	width: 300px;
	border-collapse: collapse;
}

#spotifysList tr {
	padding: 3px;
}

#spotifysList tr.selected {
	background-color: #6C6C6C;
}

#spotifysList .online {
	color: #0F0;
}

#spotifysList .offline {
	color: #F00;
}

/** Player **/
#player {
	width: 300px;
	margin: auto auto;
}

#trackInfo {
	background-image: url('images/np-collapsed-badge.png');
	background-position: 0 -1px;
	padding: 7px 5px;
	font-family: HelveticaNeue,Helvetica,"lucida grande",tahoma,Verdana,Arial;
	color: #FFF;
	text-shadow: #000 0 1px 1px;
	font-size: 16px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
}

#trackInfo #artist {
	font-size: 12px;
}

#trackInfo {
	white-space: nowrap;
	overflow: hidden;
}

#controls {
	height: 33px;
	background-image: url('images/np-badge-bottom.png');
	/*background-image: url('images/playerbg.png');*/
	padding: 7px 50px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
}

#controls a {
	margin-left: 5px;
}

#ctrlPlayPause {
	display: block;
	width: 32px;
	height: 33px;
	background-image: url('images/playpause.png');
	float: left;
	background-position: -64px 0;
}

#ctrlPlayPause.play {
	background-position: 0 0;
}

#ctrlPlayPause.play:active {
	background-position: -32px 0;
}

#ctrlPlayPause.pause {
	background-position: -96px;
}

#ctrlPlayPause.pause:active {
	background-position: -128px 0;
}

.ctrlPrevNext {
	display: block;
	width: 25px;
	height: 25px;
	background-image: url('images/prevnext.png');
	float: left;
	margin-top: 5px;
}

#ctrlPrev.disabled {
	background-position: -50px 0;
}

#ctrlPrev {
	background-position: 0 0;
}

#ctrlPrev:active {
	background-position: -25px 0;
}

#ctrlPrev.disabled:active {
	background-position: -50px 0;
}

#ctrlNext.disabled {
	background-position: -125px 0;
}

#ctrlNext {
	background-position: -75px 0;
}

#ctrlNext:active {
	background-position: -100px 0;
}

#ctrlNext.disabled:active {
	background-position: -125px 0;
}

.ctrlShuffleRepeat {
	background-position: 0 -88px;
	height: 22px;
	display: block;
	float: left;
	margin-top: 5px;
}

#ctrlShuffle {
	background-image: url('images/shuffle.png');
	width: 25px;
}

#ctrlRepeat {
	background-image: url('images/repeat.png');
	width: 21px;
}

.disabled.ctrlShuffleRepeat {
	background-position: 0 -88px;
}

.disabled.ctrlShuffleRepeat:active {
	background-position: 0 -88px;
}

.ctrlShuffleRepeat {
	background-position: 0 0;
}

.ctrlShuffleRepeat:active {
	background-position: 0 -22px;
}

.ctrlShuffleRepeat.activated {
	background-position: 0 -44px;
}

.ctrlShuffleRepeat.activated:active {
	background-position: 0 -66px;
}
/************/

#search {
	border-collapse: collapse;
}
